body {
    background-image: url("../images/green_dust_scratch.png");
    margin:0;
    color: #777;
}

/*  ***  Header  ***  */

.boxHeader {
    position: fixed;
   /* text-rendering: auto;*/
    width: 100%;
    background-color: #fff;
    margin: 0;
    height: 75px;
    border-bottom: 2px solid #777;
}

.boxName {
   
    float: left;
    font-size: 22px;
    font-family: arial;
    color: #fff;
    background-color: #4aaaa5;
    width: 170px;
    padding: 25px;
    margin-left: 100px;
    margin-right: 520px;
}

.boxLinkHeader {
    display: inline-block;
    float: left;
    width: 90px;
    color: #777;
    text-align: center;
    font-size: 25
    margin-left:100px;
    margin-top: 25px
}


/***************************/
/*      Content Box        */
.boxContent {
    clear: both;
    
    margin-top: 100px;
    margin-left: 100px;
    background-color: #fff;
    width: 650px;
    height: 300px;
}

.titleContent {
    color: #4aaaa5;
    font-size: 25px;
    width: 600px;
    margin: solid 1px;
    margin-left: 25px;
    border-bottom: 2px solid #777;
    padding: 12.5px 0px;
}

img {
    margin: 0px 25px;
    width: 170px;
    height: auto;
    float: left;
    overflow: auto;
}

p {
    margin: 30px;
}

.textAbout {
    color: #777;
    float: left;
}


.boxPicPortfolio {
    width: 275px;
    color: #fff;
    background-color: #4aaaa5;
}

/***************************/
/*  Social Links */

.boxLinksSocial{
    float: left;
    position: relative;
    width: 270px;
    height: 200px;
    background-color: #fff;
    margin: -300px 0px 0px 790px;
}
 
.titleSocial {
    color: #4aaaa5;
    font-size: 20px;
    width: 220px;
    margin: 30px 0px 0px 30px;
    border-bottom: 2px solid #777;
    padding: 15px 0px;
  }

.boxPicSocial {
    display: inline-block;
    float: left;
    position: relative;
    width: 70px;
    height: 70px;
    border: 0px;
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
}


/***************************/
/*  Footer    */

.boxFooter{
    clear: both;
    position: absolute;
    font-size: 15px;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 20px;
    background-color: #666666;
    padding: 20px;
    border-top: 7px solid #4aaaa5;
    margin-top: 40px;
}


.fontRegColor {
    color: #777;
    float: left;
}

.fontTeal {
    color: #4aaaa5;
}

